apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - onepassword-openai-api-key.yaml
patches:
  - target:
      kind: StatefulSet
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/envFrom/-
        value:
          secretRef:
            name: openai-api-key
